version: "3.7"

services:
  db:
    # image: postgis/postgis:12-3.0-alpine
    # image: arm32v7/postgres:12.2-alpine
    image: postgres:12-alpine
    ports:
      - "5432:5432"
    volumes:
      - ./db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: 'mysitepassword'
  web:
    build: ./web
    volumes:
      - ./web:/code:rw
    ports:
      - "8000:8000"
    environment:
      PORT: 8000
      # DJANGO_SETTINGS_MODULE: mysite.settings.production
      DJANGO_SETTINGS_MODULE: mysite.settings.dev
      # DATABASE_URL: postgis://postgres:mysitepassword@db/postgres
      DATABASE_URL: postgres://postgres:mysitepassword@db/postgres
      MEDIA_AWS_ACCESS_KEY_ID: XXX
      MEDIA_AWS_SECRET_ACCESS_KEY: XXX
      MEDIA_AWS_STORAGE_BUCKET_NAME: XXX
      SECRET_KEY: XXX
      EMAIL_PORT: 465
      EMAIL_USE_TLS: "false"
      EMAIL_USE_SSL: "true"
      # ALLOWED_HOSTS: www.web.localhost,web.localhost
      ALLOWED_HOSTS: localhost
      ADMINS: james@example.com
      DEFAULT_FROM_EMAIL: james@example.com
      EMAIL_HOST: smtp.example.com
      EMAIL_HOST_PASSWORD: XXX
      EMAIL_HOST_USER: XXX
      SERVER_EMAIL: james@example.com
    # command: /bin/sh /code/run.sh
    command: /bin/sh /code/run.sh.dev

  #
  # These are other example configurations you may need for the other containers
  #

  # awscli:
  #   build: awscli
  #   environment:
  #     AWS_ACCESS_KEY_ID: XXX
  #     AWS_SECRET_ACCESS_KEY: XXX
  # gitcli:
  #   build: gitcli
  #   environment:
  #     GIT_COMMITTER_NAME: 'Your name'
  #     GIT_COMMITTER_EMAIL: ''
  #     GIT_AUTHOR_NAME: 'Your name'
  #     GIT_AUTHOR_EMAIL: ''
  #     GIT_SSH_COMMAND: 'ssh -i /ssh/id_rsa'
  #   volumes:
  #     - ./git/ssh:/ssh
  #     - ./:/repo/
  # nginx:
  #   build:
  #     context: ./nginx
  #   environment:
  #     # The docker container will accept the Let's Encrypt terms for you using this email address. Only put the email of someone who is willing to accept the terms.
  #     LETS_ENCRYPT_EMAIL: james@example.com
  #     LETS_ENCRYPT_USER: 1001:1001
  #     NGINX_UID: 1001
  #     NGINX_GID: 1001
  #   ports:
  #   - 80:80/tcp
  #   - 443:443/tcp
  #   restart: unless-stopped
  #   volumes:
  #   - ./nginx/conf.d/docker.conf:/etc/nginx/conf.d/docker.conf:ro
  #   - ./nginx/conf.d/docker:/etc/nginx/conf.d/docker:rw
  #   - ./nginx/daily:/etc/periodic/daily:rw
  #   - ./nginx/letsencrypt:/letsencrypt:rw
  #   - ./www.teratree.org:/webroot/www.teratree.org:rw
  #   # Add any other host-specific mounts here
  #   - ./web/media/:/webroot/some.example.com/media:ro
  #   - ./web/staticcache/:/webroot/some.example.com/static:ro
  # chrome:
  #   image: selenium/standalone-chrome-debug:3.141.59-radium
  #   volumes:
  #     - /dev/shm:/dev/shm
  #   ports:
  #     - "5900:5900"
  #     - "4444:4444"
