version: "3.7"

services:
  aws:
    build: aws
    environment:
      AWS_ACCESS_KEY_ID: XXX
      AWS_SECRET_ACCESS_KEY: XXX
  chrome:
    image: selenium/standalone-chrome-debug:3.141.59-radium
    volumes:
      - /dev/shm:/dev/shm
    ports:
      - "5900:5900"
      - "4444:4444"
  db:
    image: postgis/postgis:12-3.0-alpine
    ports:
      - "5432:5432"
    volumes:
      - ./db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: 'mysitepassword'
  git:
    build: git
    environment:
      GIT_COMMITTER_NAME: 'Your name'
      GIT_COMMITTER_EMAIL: ''
      GIT_AUTHOR_NAME: 'Your name'
      GIT_AUTHOR_EMAIL: ''
      GIT_SSH_COMMAND: 'ssh -i /ssh/id_rsa'
    volumes:
      - ./git/ssh:/ssh
      - ./:/repo/
  web:
    build: ./web
    volumes:
      - ./web:/code:rw
    ports:
      - "8000:8000"
    environment:
      PORT: 8000
      DJANGO_SETTINGS_MODULE: mysite.settings.dev
      DATABASE_URL: postgis://postgres:mysitepassword@db/postgres
      MEDIA_AWS_ACCESS_KEY_ID: XXX
      MEDIA_AWS_SECRET_ACCESS_KEY: XXX
      MEDIA_AWS_STORAGE_BUCKET_NAME: XXX
      SECRET_KEY: XXX
      EMAIL_PORT: 465
      EMAIL_USE_TLS: "false"
      EMAIL_USE_SSL: "true"
      ALLOWED_HOSTS: www.example.com,example.com,localhost
      ADMINS: james@example.com
      DEFAULT_FROM_EMAIL: james@example.com
      EMAIL_HOST: smtp.example.com
      EMAIL_HOST_PASSWORD: XXX
      EMAIL_HOST_USER: XXX
      SERVER_EMAIL: james@example.com
    command: /bin/sh /code/run.sh.local
