$mysite-dark-grey: rgb(10,10,10);
$mysite-light-grey: rgb(220,220,220);
$mysite-white: rgb(255,255,255);
$mysite-light-green: rgb(209,239,222);
$mysite-green: rgb(102,181,142);
$mysite-dark-green: rgb(29,64,46);
$mysite-dark-blue: rgb(5,16,58);
$mysite-dark-green-text: rgb(27,59,40);
$mysite-orange: rgb(231,161,61);

/* Action colors */
$mysite-color-action-highlight-text: $mysite-white;
$mysite-color-action-highlight-background: $mysite-orange;
$mysite-color-action-primary-text: $mysite-light-green;
$mysite-color-action-primary-background: $mysite-dark-green;
$mysite-color-action-secondary-text: $mysite-dark-green;
$mysite-color-action-secondary-background: $mysite-light-green;
$mysite-color-input-text: $mysite-white;
$mysite-color-input-background: $mysite-light-grey;

/* Main block colors */
$mysite-color-bounce-background: $mysite-light-grey;

$mysite-color-topbar-background: $mysite-white;
$mysite-color-topbar-text: $mysite-dark-grey;
$mysite-color-topbar-link: $mysite-dark-blue;

$mysite-color-backbar-background: $mysite-light-green;
$mysite-color-backbar-text: $mysite-white;
$mysite-color-backbar-link: $mysite-dark-blue;

$mysite-color-messagebar-background: $mysite-dark-green;
$mysite-color-messagebar-text: $mysite-light-green;;
$mysite-color-messagebar-link: $mysite-dark-blue;

$mysite-color-content-background: $mysite-white;
$mysite-color-content-text: $mysite-dark-grey;
$mysite-color-content-text-light: $mysite-light-grey;
$mysite-color-content-link: $mysite-dark-blue;

$mysite-color-footer-background: $mysite-white;
$mysite-color-footer-text: $mysite-dark-grey;
$mysite-color-footer-text-light: $mysite-light-grey;
$mysite-color-footer-link: $mysite-dark-blue;

$mysite-rhythm-internal: 14px;
$mysite-rhythm-frame: 20px;

/* Fonts */
%bold {
  font-family: "SemiBold";
}
%light {
  font-family: "Light";
}
%large {
  font-size: 24px;
}
%medium {
  font-size: 18px;
}
%small {
  font-size: 14px;
}


/* Buttons */
%button {
  @extend %bold;
  @extend %medium;
  outline: none;
  border-radius: 0;
  border: 0px;
  padding: $mysite-rhythm-internal;
  text-decoration: none;
  cursor: pointer;
  margin:0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: -webkit-center;
  text-align: center;
}

/* Implementation */

/* Reset */
* {
  box-sizing: border-box;
}
html, body, h1, h2, h3, h4, p, label {
  padding: 0;
  margin: 0;
}
input {
  @extend %button;
  text-align: left;
  color: $mysite-color-input-text;
  background: $mysite-color-input-background;
}
h1, h2, h3, h4, h5 {
  @extends %bold;
}
a {
  text-decoration: none;
}

/* Buttons */

.mysite-button-primary,
.content a.mysite-button-primary {
  @extend %button;
  color: $mysite-color-action-primary-text;
  background: $mysite-color-action-primary-background;
}
.mysite-button-secondary,
.content a.mysite-button-secondary {
  @extend %button;
  color: $mysite-color-action-secondary-text;
  background: $mysite-color-action-secondary-background;
}
.mysite-button-highlight,
.content a.mysite-button-highlight {
  @extend %button;
  color: $mysite-color-action-highlight-text;
  background: $mysite-color-action-highlight-background;
}


@mixin color($background, $text, $link) {
  background-color: $background;
  html, body, h1, h2, h3, h4, p, label {
    color: $text;
  }
  a {
    color: $link
  }
}

/* Content colors */
.content.mysite-blue {
  background-color: rgb(208,240,248);
}

/* Layout */
.frame {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
    .top-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-shrink: no;
      min-height: 64px;
      @include color($mysite-color-topbar-background, $mysite-color-topbar-text, $mysite-color-topbar-link);
    }
        .logo {
          padding-left: 20px;
          padding-right: 20px;
        }
        .user {
          @extends large;
          padding-left: 20px;
          padding-right: 20px;
        }
    .back-bar {
      display: flex;
      flex-direction: row;
      flex-shrink: no;
      @extends bold;
      @extends large;
      padding: 15px;
      padding-left: 60px;
      @include color($mysite-color-backbar-background, $mysite-color-backbar-text, $mysite-color-backbar-link);
    }
    .message-bar {
      display: flex;
      flex-direction: row;
      flex-shrink: no;
      justify-content: left;
      align-items: center;

      @extend %bold;
      @extend %medium;

      padding-left: 129px;
      @include color($mysite-color-messagebar-background, $mysite-color-messagebar-text, $mysite-color-messagebar-link);
      min-height: 150px;
    }
    .content {
      display: flex;
      flex-direction: column;
      flex-shrink: no;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      @include color($mysite-color-content-background, $mysite-color-content-text, $mysite-color-content-link);
    }
    .footer {
      @extends small;
      display: flex;
      flex-direction: row;
      flex-shrink: no;
      min-height: 70px;
      justify-content: center;
      align-items: center;
      @include color($mysite-color-footer-background, $mysite-color-footer-text, $mysite-color-footer-link);
    }
